/* Import */
@import "driver.js/dist/driver.css";

/* Utilità */
.hidden {
    display: none !important;
}

.driver-popover * {
    font-family: inherit !important;
}

/* Cursore personalizzato */
#circle-cursor {
    pointer-events: none;
    cursor: crosshair;
    display: none;
    width: 20px;
    height: 20px;
    background: rgba(255,255,255,0.5);
    border-radius: 50%;
    position: absolute;
    z-index: 10000;
    box-shadow: 0 0 5px rgb(var(--gray-950));
}

/* Driver.js Popover Base */
.driver-popover {
    box-sizing: border-box;
    margin: 0;
    padding: 15px;
    border-radius: 5px;
    min-width: 300px !important;
    max-width: 750px !important;
    box-shadow: 0 1px 10px #0006;
    position: fixed;
    top: 0;
    right: 0;

    /* Tailwind Apply */
    @apply p-6 bg-white text-gray-900;
}

.dark .driver-popover {
    @apply bg-gray-900 text-gray-50;
}

/* Popover pulsanti ai 4 angoli */
.driver-help-button {
    width: 15px;
    height: 15px;
    position: absolute;
    cursor: pointer;
}

.top-left    { top: -14px; left: -16px; }
.top-right   { top: -14px; right: -16px; }
.bottom-right { bottom: -14px; right: -16px; }
.bottom-left  { bottom: -14px; left: -16px; }

/* Footer Popover */
.driver-popover-footer {
    @apply items-center mt-4;
}

.driver-popover-navigation-btns {
    @apply space-x-4;
}

.driver-popover-navigation-btns .driver-popover-prev-btn,
.driver-popover-navigation-btns .driver-popover-next-btn {
    text-shadow: none;
    @apply inline-flex items-center justify-center rounded-lg text-sm font-medium h-10 px-4 py-2
        hover:bg-gray-100 bg-white;
}

.dark .driver-popover-navigation-btns .driver-popover-prev-btn,
.dark .driver-popover-navigation-btns .driver-popover-next-btn {
    @apply bg-gray-700 text-gray-50 hover:bg-gray-800 border-gray-700;
}

/* Arrow: dark mode */
.dark .driver-popover-arrow-side-top    { border-top-color: var(--color-gray-900); }
.dark .driver-popover-arrow-side-bottom { border-bottom-color: var(--color-gray-900); }
.dark .driver-popover-arrow-side-left   { border-left-color: var(--color-gray-900); }
.dark .driver-popover-arrow-side-right  { border-right-color: var(--color-gray-900); }

/* Nascondi freccia centrale */
.driver-popover-arrow-side-center,
.driver-popover-arrow-none {
    display: none;
}

/* Allineamenti arrow */
.driver-popover-arrow-side-left.driver-popover-arrow-align-start,
.driver-popover-arrow-side-right.driver-popover-arrow-align-start {
    top: 15px;
}

.driver-popover-arrow-side-top.driver-popover-arrow-align-start,
.driver-popover-arrow-side-bottom.driver-popover-arrow-align-start {
    left: 15px;
}

.driver-popover-arrow-align-end.driver-popover-arrow-side-left,
.driver-popover-arrow-align-end.driver-popover-arrow-side-right {
    bottom: 15px;
}

.driver-popover-arrow-side-top.driver-popover-arrow-align-end,
.driver-popover-arrow-side-bottom.driver-popover-arrow-align-end {
    right: 15px;
}

.driver-popover-arrow-side-left.driver-popover-arrow-align-center,
.driver-popover-arrow-side-right.driver-popover-arrow-align-center {
    top: 50%;
    margin-top: -5px;
}

.driver-popover-arrow-side-top.driver-popover-arrow-align-center,
.driver-popover-arrow-side-bottom.driver-popover-arrow-align-center {
    left: 50%;
    margin-left: -5px;
}

.dark .driver-popover-close-btn {
    color: var(--color-gray-50);
}

.driver-popover-footer button:hover, .driver-popover-footer button:focus {
    background-color: inherit;
}